@import "../../sass-utils/mix";
page {
    padding-bottom: pxrem(20);
}
.collection{
    margin:pxrem(58);
    padding:pxrem(46) pxrem(35) pxrem(50);
    box-shadow: 0px pxrem(23) pxrem(23) 0px rgba(213, 213, 213, 0.3);
	border-radius: pxrem(12);
    background: #fff;
    .total_text{
        font-size:pxrem(35);
        color: #000000;
        margin-bottom:pxrem(32);
    }
    .amount_total{
        font-size:pxrem(35);
        color: #dc1d54;
        margin-bottom:pxrem(45);
        .total_amount{
            display: inline-block;
            font-size:pxrem(58);
        }
    }
    .tabtitle{
        display:flex;
        display: -webkit-box;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        .tabtitle_li{
            width: 33.33%;
            flex: 1;
            -webkit-box-flex: 1;
            text-align: center;
            padding: pxrem(24) 0;
            font-size:pxrem(28);
            color: #000000; 
            box-shadow: inset -1px 0px 0px 0px#dddddd;
            &:first-child{
                border-left: 1px solid #dddddd;
                box-sizing: border-box;
            }         
        }
    }
    .employees{
        display:flex;
        display: -webkit-box;
        .employees_li{
            width: 33.33%;
            flex: 1;
            -webkit-box-flex: 1;
            text-align: center;
            box-shadow: inset -1px 0px 0px 0px #dddddd;
            font-size:pxrem(28);
            padding: pxrem(24) 0;
            position: relative;
            .emp_name{
                color: #2c67f2;
                margin-bottom:pxrem(18);
            }
            &.emp_name{
                color: #2c67f2;
                padding-top:pxrem(50);
            }
            .emp_code{
                font-size:pxrem(23);
	            color: #92979b;
            }
            .amount{
                position: absolute;
                width:pxrem(30);
                height:pxrem(42);
                background:#fff;
                top:pxrem(48);
                left:pxrem(30);
            }
            .percent{
                position: absolute;
                width:pxrem(30);
                height:pxrem(42);
                background:#fff;
                top:pxrem(48);
                right:pxrem(30);
                z-index: 11;
            }
            input{
                border-bottom: 1px solid #dddddd;
                width: pxrem(130);
                box-sizing: border-box;
                margin:pxrem(16) auto 0;
            }
            .seeamount{
                margin:pxrem(24) 0;
            }
            .seepercent{
                margin:pxrem(24) 0;
            }
            .clear{
                width:pxrem(70);
                height:pxrem(60);
                position: absolute;
                left:pxrem(-80);
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                box-shadow: 0px pxrem(12) pxrem(23) 0px rgba(0, 0, 0, 0.5);
            }
            .results{
                width:pxrem(70);
                height:pxrem(60);
                position: absolute;
                right:pxrem(-80);
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                box-shadow: 0px  pxrem(12) pxrem(23) 0px rgba(88, 138, 255, 0.5);
            }
        }
    }
    .already{
        text-align: right;
        font-size:pxrem(28);
        padding:pxrem(34) pxrem(34) 0;
        .amount{
            display: inline-block;
            color: #dc1d54;
        }
    }
}
.callot_btn{
    text-align: center;
    font-size:pxrem(35);
    padding:pxrem(30);
    margin:pxrem(58) pxrem(35);
    color: #fff;
    background-color: #588aff;
    box-shadow: 0px pxrem(12) pxrem(23) 0px rgba(88, 138, 255, 0.5);
    border-radius:pxrem(50);
}