@import "../../sass-utils/mix";

page {
  padding-bottom: pxrem(20);
  padding-top: pxrem(100);
}

.tab {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  line-height: pxrem(98);
  text-align: center;
  background: white;
  border-bottom: pxrem(1) solid #dddddd;
  font-size: pxrem(28);
  color: #666666;
  .item {
    -webkit-box-flex: 1;
    width: 1%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    &.active {
      color: $c3;
      text {
        border-bottom: pxrem(2) solid $c3;
        display: block;
      }
    }
  }
}

.tab-con {
  .c1 {
    color: $c3;
  }
  .c2 {
    color: $c3;
  }
  .c3 {
    color: #333333;
  }
  .con {
    display: none;
    &.show {
      display: block;
    }
  }
}

.tab1, .tab3 {
  .list-wrap {
    .btn {
      font-size: pxrem(24);
      line-height: pxrem(56);
      background: $c3;
      color: white;
      padding: 0 pxrem(20);
      border-radius: pxrem(5);
      height: pxrem(56);
      box-shadow: 0 rpx2(10) rpx2(20) 0 rgba(255, 81, 131, 0.5);
    }
    .item {
      line-height: pxrem(50);
      padding: pxrem(30);
      background: white;
      color: #92979b;
      margin-top: pxrem(20);
      //box-shadow: pxrem(4) pxrem(-4) pxrem(20) rgba(0, 0, 0, .1);
      .time-wrap {
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: justify;
        padding-bottom: pxrem(24);
        .time1 {
        }
        .time2 {
        }
        .status {
          background: $c3;
          line-height: pxrem(30);
          color: white;
          padding: 0 pxrem(12);
          font-size: pxrem(18);
          border-radius: pxrem(18);
          &.dis {
            background: #bbbbbb;
          }
        }
      }
      .name-wrap {
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: justify;
        padding-bottom: pxrem(24);
        .name {
          text {
            color: #000000;
            font-size: pxrem(30);
          }
        }
      }
      .ul {
        .li {
          text {
            color: #333333;
          }
        }
      }
    }
  }
}

.tab2 {
  .list-wrap {
  }
  .item {
    background: white;
    margin-top: pxrem(20);
    padding: 0 pxrem(30) pxrem(20);
    line-height: pxrem(56);
    color: #92979b;
    .user-info {
      display: -webkit-box;
      -webkit-box-pack: justify;
      -webkit-box-align: center;
      padding: pxrem(50) pxrem(30);
      .name {
        color: #333333;
        font-size: pxrem(40);
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        line-height: pxrem(40);
      }
      .go-detail {
        font-size: pxrem(22);
      }
    }
    .num-wrap {
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: justify;
      padding: 0 pxrem(30);
      margin-bottom: pxrem(20);
      height:pxrem(140);
      background:linear-gradient(90deg,rgba(255,78,129,1),rgba(255,189,123,1));
      border-radius:pxrem(10);
      box-shadow:0 pxrem(20) pxrem(20) 0 rgba(255,95,128,0.3);
      color: white;
      line-height: pxrem(40);
      font-size: pxrem(22);
      text {
        display: block;
        font-weight: bold;
        font-size: pxrem(30);
      }
      .home-num {
        text-align: right;
      }
    }
    .item-info {
      border-bottom: pxrem(1) solid #dddddd;
      line-height: pxrem(90);
      text {
        color: #333333;
      }
    }
    .time-wrap {
      line-height: pxrem(60);
      padding: pxrem(25) 0;
      text-align: center;
      .time {
        font-size: pxrem(70);
        line-height: pxrem(90);
        color: #333333;
        font-weight: bold;
      }
    }
    .btn {
      line-height: pxrem(90);
      border-radius: pxrem(90);
      text-align: center;
      background: $c1;
      color: white;
      font-size: pxrem(36);
      margin-bottom: pxrem(20);
      border: pxrem(1) solid $c1;
      box-shadow: 0 rpx2(10) rpx2(20) 0 rgba(88, 138, 255, 0.5);
      &.dis {
        border-color: #cccccc;
        color: #333333;
        background: white;
        box-shadow: 0 0 0 0;
      }
    }
    .item-pro {
      border-bottom: pxrem(1) solid #dddddd;
      padding: pxrem(20) 0;
    }
    .item-pro-li {
      line-height: pxrem(66);
      display: -webkit-box;
      -webkit-box-pack: justify;
      .l {
      }
      .r {
      }
    }
  }
}

