@import "../../sass-utils/mix";
@import "../../sass-utils/variables";
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: pxrem(90);
    background-color: rgba(0, 0, 0, .2);
    .fixed_content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        .fixed_main {
            max-height: pxrem(280);
            overflow-y: auto;
            .item {
                .cell {
                    display: -webkit-flex;
                    justify-content: space-between;
                    padding: pxrem(26);
                    border-bottom: pxrem(1) solid #ccc;
                    .item_count {
                        .icons_count {
                            display: inline-block;
                            width: pxrem(40);
                            height: pxrem(40);
                            border: solid pxrem(1) #bbbbbb;
                            border-radius: 50%;
                            text-align: center;
                            line-height: pxrem(40);
                            font-size: pxrem(32);
                            &.count_minus {
                                color: #bbbbbb;
                            }
                            &.count_add {
                                background: #f96868;
                                color: #fff;
                                border: 0;
                            }
                        }
                        .counting {
                            display: inline-block;
                            font-size: pxrem(28);
                            color: #333;
                            margin: 0 pxrem(22);
                        }
                    }
                }
            }
        }
        .fixed_title {
            padding: pxrem(26);
            display: -webkit-flex;
            justify-content: space-between;
            background-color: #f5f5f5;
            border-bottom: pxrem(1) solid #ccc;
            .clear_all {
                color: #333333;
            }
        }
    }
}

.chosen_wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: pxrem(90);
    background-color: #fff;
    box-shadow: 0px pxrem(4) pxrem(23) #efefef;
    display: -webkit-box;
    -webkit-box-pack: justify;
    .select_info {
        padding-left: pxrem(38);
        .num {
            color: $c2;
        }
        -webkit-box-flex: 1;
    }
    .select_btn {
        &.no_select {
            background-color: #dddddd;
        }
        background-color: $c1;
        color: #fff;
        font-size: pxrem(36);
        width: pxrem(256);
        text-align: center;
    }
}